<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer position="end" class="sidenav" [ngClass]="{ hidden: !(isHandset$ | async) }"
        fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

        <mat-toolbar color="primary"> Menu
            <button class="sidenav-close" type="button" aria-label="close" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>


        <mat-nav-list>
            <button mat-list-item>Home</button>
            <button mat-list-item>About</button>
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-icon>android</mat-icon>
            <span class="spacer"></span>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

            <div *ngIf="!(isHandset$ | async)">
                <button mat-button>Home</button>
                <button mat-button>About</button>
            </div>
        </mat-toolbar>

        <!-- WEB CONTENT -->
        <ng-content></ng-content>
        <!-- END WEB CONTENT -->

    </mat-sidenav-content>
</mat-sidenav-container>